page-current {
    .content-md {
        background-color:#ebece9;
    }
    .scroll-content
    {
        margin-top: 0px;
    }

    ion-header ion-toolbar.lightPink {
      --background: #efe3e3;
    }
}
