<!--
  Generated template for the CurrentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" [style]="doc.dir === 'rtl' ? 'transform:rotate(180deg)' : ''" defaultHref="#"></ion-back-button>
    <ion-title>{{ "" }}</ion-title>
    <ion-buttons class="ion-float-end">
      <ion-button *ngIf="auth.language=== 'en'" (click)="changeLang('ar')">
        العربية
      </ion-button>
      <ion-button *ngIf="auth.language=== 'ar'" (click)="changeLang('en')">
        English
      </ion-button>
      <ion-button (click)="gotoHome()" icon-only>
        <ion-icon  name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event)"><ion-icon name="search"></ion-icon></ion-button>
      <ion-button *ngIf="auth.userId!==-1" (click)="gotoProfile()"><ion-icon  name="person"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="lightPink" vanish-scroll [vanish-scroll]="scrollArea" (parentFun)="contentResize()">
      <!-- <ion-button color="dark" *ngFor="let date of enddates" (click)="filterByDate(date)" [outline]="!date.active">{{date.enddate}}<ion-badge  color="danger" style="margin-left:5px;" item-end>{{date.totitems}}</ion-badge></ion-button> -->
      <ion-col>
      <ion-button color="primary"  *ngIf="enddates.length>0" (click)="presentEndPopover($event)">
        {{end()[0].enddate}}
        <ion-badge  color="danger" style="margin-left:5px;" item-end>{{end()[0].totitems}}</ion-badge>
      </ion-button>
    </ion-col>
    <ion-button color="dark" (click)="changeInsta()" fill="clear">Instagram</ion-button>
      <ion-button color="dark" fill="outline" class="ion-float-end" (click)="changeView()">
        <ion-icon [name]="(view=== 'grid')?'list':'grid'"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content #scrollArea scrollEvents="true" (ionScroll)="logScrolling($event)">
  <ion-list *ngIf="view=== 'grid'">
    <box *ngFor="let auction of auctions" [step]="auction"></box>
  </ion-list>
  <ion-list *ngIf="view=== 'list'">
    <rectangle *ngFor="let auction of auctions" [step]="auction"></rectangle>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar vanish-scroll-footer [vanish-scroll-footer]="scrollArea" (footerFun)="contentResize()">
    <!-- <ion-button color="dark" *ngFor="let date of enddates" (click)="filterByDate(date)" [outline]="!date.active">{{date.enddate}}<ion-badge  color="danger" style="margin-left:5px;" item-end>{{date.totitems}}</ion-badge></ion-button> -->
    <ion-row>
      <ion-col (click)="goto('mybids')" style="text-align: center">
        <ion-icon name="hammer"></ion-icon>
        {{ 'dash.mybids' | translate }}
      </ion-col>
      <ion-col (click)="goto('favorite')" style="text-align: center">
        <ion-icon name="heart"></ion-icon>
        {{ 'dash.favorite' | translate }}
      </ion-col>
      <ion-col (click)="gotoHybrid()" style="text-align: center">
        <ion-icon name="timer"></ion-icon>
        {{ 'dash.hybrid' | translate }}
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
