page-current {
    .content-md {
        background-color:#ebece9;
    }
    .scroll-content
    {
        margin-top: 0px;
    }
    ion-header ion-toolbar .toolbar-background {
        background-color: #efe3e3;
      }
      ion-footer ion-toolbar .toolbar-content {
        //color:white;
      }
}
