<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title slot="center">Register</ion-title>
      <ion-back-button slot="start" defaultHref="#"></ion-back-button>
      <ion-button slot="end" *ngIf="auth.language==='en'"  fill="clear" color="light" (click)="changeLang('ar')">
        العربية
      </ion-button>
      <ion-button slot="end" *ngIf="auth.language==='ar'" fill="clear" color="light" (click)="changeLang('en')">
        English
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-radio-group (ngModelChange)="onChangeType($event)" [(ngModel)]="todo.type" name="type">
    <ion-radio value="individual" style="margin: 0 10px;">{{ 'register.individual' | translate }}</ion-radio>
    <ion-radio value="organisation">{{ 'register.organisation' | translate }}</ion-radio>
  </ion-radio-group>
    <!-- <ion-grid radio-group>
        <ion-row>
            <ion-col>
                <ion-label style="display: inline-block;margin:0;"></ion-label>
                <ion-radio []="todo.type" (ngModelChange)="onChangeType()" name="type" value="individual"></ion-radio>
                <ion-label style="display: inline-block;margin:0;margin-left:20px">{{ 'register.organisation' | translate }}</ion-label>
                <ion-radio [(ngModel)]="todo.type" (ngModelChange)="onChangeType()" name="type" value="organisation"></ion-radio>
            </ion-col>
        </ion-row>
    </ion-grid> -->
    <form #registerForm="ngForm" (ngSubmit)="logForm(registerForm)">
        <ion-item *ngIf="type=== 'o'">
            <ion-label>{{ 'register.trade_license_number' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.license" name="license"></ion-input>
        </ion-item>
        <ion-item *ngIf="type=== 'o'">
            <ion-label>{{ 'register.trade_licence_exp_date' | translate }}</ion-label>
            <ion-datetime-button datetime="licenseexp"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [preferWheel]="true" displayFormat="MMM DD YYYY" presentation="date" id="licenseexp" [(ngModel)]="todo.licenseexp" name="licenseexp"></ion-datetime>
              </ng-template>
            </ion-modal>

        </ion-item>
        <ion-item *ngIf="type=== 'o'">
            <ion-label>{{ 'register.tax_registration_number' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.licensereg" name="licensereg"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.fullname' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.fullname" name="fullname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.username' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.username" name="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.password' | translate }}</ion-label>
            <ion-input type="password" [(ngModel)]="todo.password" name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.email' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.dob' | translate }}</ion-label>
            <ion-datetime-button datetime="dob"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime [preferWheel]="true" displayFormat="MMM DD YYYY" presentation="date" [(ngModel)]="todo.dob" name="dob" id="dob"></ion-datetime>
              </ng-template>
            </ion-modal>


        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.address' | translate }}</ion-label>
            <ion-textarea [(ngModel)]="todo.address" name="address"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.city' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.city" name="city"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.state' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.state" name="state"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.zip' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="todo.zip" name="zip"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.country' | translate }}</ion-label>
            <ion-select ngDefaultControl  [(ngModel)]="todo.country" name="country">
                <ion-option *ngFor="let c of countries" [value]="c.value">{{ c.name }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.telephone' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="todo.phone" name="telephone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'register.timezone' | translate }}</ion-label>
            <ion-select ngDefaultControl  [(ngModel)]="todo.timezone" name="timezone">
                <ion-option *ngFor="let c of timezones" [value]="c.value">{{ c.name }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-button  type="submit" expand="full">{{ 'register.register' | translate }}</ion-button>
    </form>

</ion-content>
