<!--
  Generated template for the BatchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Auctions</ion-title>
  </ion-toolbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="today">
        Today's ({{today.length}})
      </ion-segment-button>
      <ion-segment-button value="upcoming">
        Upcoming ({{upcoming.length}})
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'today'">
      <ion-item *ngFor="let batch of today" (click)="showBatch(batch.duration)">
          <h2>{{ batch.endtime | twelvehour }}</h2>
          <h4>{{ batch.batchNumber }}</h4>
          <p>{{ batch.description }}</p>
          <span style="font-size:x-small;" item-end><ion-note >{{ batch.count }} lots</ion-note><br/>Auction starts in<br/> <span style="color:red;">{{ batch.remaining }}</span></span>
      </ion-item>
      <ion-item *ngIf="today.length === 0">
        <h2>No auctions today</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'upcoming'">
        <ion-item *ngFor="let batch of upcoming" (click)="showBatch(batch.duration)">
          <h2>{{ batch.date }} , {{ batch.endtime | twelvehour }}</h2>
          <h4>{{ batch.batchNumber }}</h4>
          <p>{{ batch.description }}</p>
          <span item-end><ion-note >{{ batch.count }} lots</ion-note><br/>Auction starts in<br/> {{ batch.remaining }}</span>
      </ion-item>
      <ion-item *ngIf="upcoming.length === 0">
        <h2>No upcoming auctions.</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
