<ion-header>
    <ion-toolbar>
    <button slot="start" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-buttons slot="end">
            <ion-button *ngIf="auth.language=== 'en'" (click)="changeLang('ar')">
        العربية
      </ion-button>
            <ion-button *ngIf="auth.language=== 'ar'" (click)="changeLang('en')">
        English
      </ion-button>
            <ion-button *ngIf="auth.userId!==-1" (click)="gotoProfile()"><ion-icon  name="person"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
    <div *ngIf="loggedin=== false">
        <h3 style="text-align:center">{{ 'home.register_with_khaleej' | translate }}</h3>
        <p>{{ 'home.register_with_khaleej_notes' | translate }}</p>
        <ion-button expand="full" color="secondary" (click)="register()">{{ 'home.register_now' | translate }}</ion-button>
        <ion-button expand="full" color="primary" (click)="login()">{{ 'home.sign_in' | translate }}</ion-button>
    </div>
    <hr>
    <h4>{{ 'home.explore_khaleej' | translate }}</h4>
    <ion-grid>
      <ion-row>
          <ion-col no-padding size="6" *ngFor="let item of items" (click)="(active)?hybridpage():current(item)">
              <ion-card style="background-color: #005495;">
                  <img [src]="item.imagelink" />
                  <span *ngIf="item.count!=='0'" class="count">{{ item.count }}</span>
              </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
