<ion-menu contentId="mainContent" [content]="content" *ngIf="auth.language==='en'" type="overlay" persistent="true" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">{{ 'menus.menu' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-toolbar>
      <ion-title>{{ 'menus.hi' | translate:param }} </ion-title>
      <ion-buttons *ngIf="userName==='Guest'">
        <ion-button (click)="openLoginPage()" color="light" fill="outline" item-start>{{ 'menus.login' | translate
          }}</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list>
      <ion-item menuClose class="menu" *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu contentId="mainContent" [content]="content" *ngIf="auth.language==='ar'" type="overlay" persistent="true" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title color="light">{{ 'menus.menu' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-toolbar>
      <ion-title>{{ 'menus.hi' | translate:param }} </ion-title>
      <ion-buttons *ngIf="userName==='Guest'" end>
        <ion-button (click)="openLoginPage()"  color="light" fill="outline" item-end>{{ 'menus.login' | translate
          }}</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list>
      <ion-item menuClose class="menu" *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>


<ion-nav [rootPage]="rootPage" #content swipeBackEnabled="false">
  <div id="mainContent">
  </div>
</ion-nav>

<ion-router-outlet overflow-scroll="true"></ion-router-outlet>
