// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  //background-color: #005495;
}
ion-header ion-navbar
{
  color:#005495;

}
.filter-popover .popover-content{ margin-top: 40px;width:95%; }
.filter-popover{ background-color: #757171bf; }
.menu
{
  text-align: start;
}
.item-title{
  font-size: 1.4rem;
  font-family: "Arial Black";
}
.item-timer{
  font-family: "Arial Black";
  font-size: .9rem;
}
.item-bid{
font-family: arial;
font-size: 1rem;
}
.item-lot{
font-family: arial;
font-size: 1.4rem;
font-weight: 700;
text-align: right;
}
.item-bid-price{
font-size: 2.5rem;
font-weight: 800;
text-align: center;
}
.item-current-bid{
text-align: right;
font-weight: 700;
margin-bottom: 2px;
}
.item-fav-icons{
text-align: right;
}
.item-fav-icons button{
color:#005495;
}
.item-bid-button{
padding:5px;
text-align: right;
height:2rem;
float: right;
}
