<!--
  Generated template for the DashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-toolbar>
    <ion-button slot="start" (click)="toggleMenu()" fill="clear" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
        <ion-buttons slot="end">
            <ion-button *ngIf="auth.language=== 'en'" (click)="changeLang('ar')">
        العربية
      </ion-button>
            <ion-button *ngIf="auth.language=== 'ar'" (click)="changeLang('en')">
        English
      </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-card *ngFor="let item of items">
      <ion-accordion  [value]="item.tab" >
        <ion-item slot="header">
          <ion-label>{{item.title | translate}}</ion-label>
        </ion-item>
        <ion-card-content slot="content">
          <expandable [item]="item"></expandable>
        </ion-card-content>
      </ion-accordion>
    </ion-card>

  </ion-accordion-group>
</ion-content>
