<!--
  Generated template for the StaticPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="#"></ion-back-button>
      <ion-button slot="end" *ngIf="auth.language==='en'"  clear color="light" (click)="changeLang('ar')">
        العربية
      </ion-button>
      <ion-button slot="end" *ngIf="auth.language==='ar'" clear color="light" (click)="changeLang('en')">
        English
      </ion-button>
      <ion-button slot="end" (click)="gotoHome()"  icon-only clear color="light">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div  [innerHTML]="content" ></div>
</ion-content>
